@import url("reset.css");
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
}

.hefoot {
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.contacts-header {
    position: absolute;
    background-image: url(../img/ve.png);
    border: #356EAD solid 1px;
    height: 250px;
    left: 0;
    top: 129px;
    border-radius: 0;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 1500px;
}

.contacts-fo {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 90px;
}

.contacts-info {
    margin-top: 40px;
    margin-bottom: 100px;
}

.heading-contacts {
    position: relative;
    width: 300px;
    height: 74px;
    left: 567px;
    top: 58px;
    font-weight: 500;
    text-align: center;
    font-style: normal;
    font-size: 44px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.text1 {
    position: relative;
    width: 780px;
    height: 60px;
    left: 293px;
    top: 27px;
    margin-top: 35px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #fff;
}

.input-text {
    box-sizing: border-box;
    margin-left: 56px;
    width: 428px;
    height: 72px;
    opacity: 0.4;
    border: #356EAD solid 1px;
    border-radius: 10px;
}

.input-text-m {
    border: #356EAD solid 1px;
    margin-left: 56px;
    width: 428px;
    height: 144px;
}

.button-submit {
    position: relative;
    background: #0971CF;
    margin-left: 56px;
    color: #fff;
    font-size: 16px;
    width: 428px;
    height: 72px;
    top: 110px;
    opacity: 0.4;
    border: #356EAD solid 1px;
    box-sizing: border-box;
    border-radius: 10px;
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 10px 50px 0 rgba(16, 112, 177, 0.2);
    width: 540px;
    height: 800px;
    margin: 0 auto 0 auto;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.top-box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top {
    min-height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.header {
    margin-top: 34px;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding-top: 42px;
}

.top-info {
    padding-top: 115px;
    flex-grow: 1;
    background-image: url(../img/bek.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 44%;
}

.top-heading {
    width: 510px;
    font-weight: 300;
    line-height: 74px;
    font-size: 64px;
    color: #1F3F68;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
}

.top-button {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #1F3F68;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 71px;
}

.text {
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    color: #1f3f68;
    letter-spacing: 0.05em;
    opacity: 0.6;
}

.top-text {
    text-align: left;
}

.text-project {
    width: 75%;
    margin: 32px 0 auto 64px;
    color: #222222;
    opacity: 1;
    text-align: center;
}

.heading {
    font-size: 36px;
    text-align: center;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0.05em;
}

.heading-mini {
    font-size: 20px;
    line-height: 36px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    margin-bottom: 14px;
}

.what-we-do {
    padding-top: 64px;
}

.card-box {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 359px;
    padding: 44px 32px;
    box-sizing: border-box;
    box-shadow: 5px 20px 50px 0 rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    background-color: #FFFFFF;
}

.card-img {
    align-self: center;
    margin-bottom: 51px;
}

.card-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
}

.project-img {
    max-width: 100%;
}

.project-item {
    position: relative;
    flex-grow: 1;
}

.project-text {
    text-align: right;
    font-size: 32px;
    line-height: 46px;
    color: #fff;
    letter-spacing: 0.05em;
    position: absolute;
    top: 64px;
    right: 64px;
}

.project-parent {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.project-item-margin {
    margin-right: 32px;
}

.footer {
    background: #316099;
    padding-bottom: 64px;
    padding-top: 91px;
    margin-top: auto;
}

@media (max-width: 1024px) {
    .footer {
        padding-top: 48px;
    }
    .footer-info {
        flex-direction: column;
    }
}

.footer-heading {
    max-width: 340px;
    text-align: left;
    margin-bottom: 32px;
    color: #fff;
}

.text-footer {
    color: #fff;
}

.heading {
    text-align: center;
    font-size: 36px;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0.05em;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
}

.footer-info li {
    display: inline-block;
    color: #fff;
    flex-grow: 1;
    line-height: 26px;
}

.button-sub {
    text-align: center;
    max-width: 120px;
    min-height: 26px;
}

.footer-top {
    display: flex;
    padding-bottom: 96px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-text {
    color: #fff;
}

.top-botton {
    height: 20px;
    width: 150px;
    padding: 15px 80px;
    display: inline-block;
    background: #5A98D0;
    color: #fff;
    text-align: center;
}

.footer-bottom {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #fff;
    background: #5A98D0;
    text-decoration: none;
    padding: 15px 80px;
}

@media (max-width: 1024px) {
    .footer-bottom {
        padding: 4px 31px;
    }
}

.bar {
    opacity: 0.4;
    unicode-bidi: -webkit-isolate;
    unicode-bidi: -moz-isolate;
    unicode-bidi: isolate;
    display: block;
    border: #FFFFFF solid 1px;
}

.copy-text {
    font-size: 16px;
    line-height: 26px;
    opacity: 0.4;
    letter-spacing: 0.05em;
    color: #fff;
}

.footer-copy {
    margin-top: 64px;
}

@media (max-width: 1024px) {
    .container {
        padding-left: 32px;
        padding-right: 32px;
    }
    .top-info {
        background-position: right 280px;
    }
    .card-box {
        flex-direction: column;
        align-items: center;
    }
    .card {
        margin-bottom: 32px;
    }
}

@media (max-width: 851px) {
    .contacts-fo {
        flex-direction: column;
    }
    .contacts-info {
        margin-left: auto;
        margin-right: auto;
    }
    .form {
        width: 483px;
    }
}

@media (max-width: 720px) {
    .contacts-header {
        width: 720px;
        height: 127px;
        left: -2px;
        flex-direction: column;
    }
    .text1 {
        left: -74px;
        top: -6px;
    }
    .heading-contacts {
        left: 147px;
        top: 40px;
        font-size: 15px;
    }
}

@media (max-width: 667px) {
    .header {
        padding-top: 24px;
    }
    .top {
        min-height: 376px;
        padding-bottom: 41px;
        box-sizing: border-box;
    }
    .form {
        width: 513px;
    }
    .button-submit {
        margin-left: auto;
        margin-right: auto;
        width: 325px;
        height: 53px;
        left: 95px;
    }
    .input-text {
        width: 385px;
        height: 53px;
        margin-left: auto;
        margin-right: auto;
    }
    .input-text-m {
        width: 378px;
        height: 102px;
        margin-left: auto;
        margin-right: auto;
    }
    .footer-bottom {
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
    }
    .footer-info li {
        margin-left: auto;
        margin-right: auto;
    }
    .copy-text {
        text-align: center;
    }
    .top-info {
        padding-top: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: none;
    }
    .footer-info {
        display: flex;
        flex-direction: column;
    }
    .top-heading {
        width: 100%;
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 12px;
        text-align: center;
    }
    .top-text {
        width: 100%;
        text-align: center;
    }
    .top-button {
        font-size: 12px;
        line-height: 26px;
        padding: 0 8px;
    }
    .heading {
        font-size: 24px;
        line-height: 28px;
    }
    .what-we-do {
        padding-top: 48px;
    }
    .card-box {
        padding-top: 32px;
    }
    .card {
        width: 100%;
    }
    .text-project {
        width: 100%;
    }
    .project-text {
        font-size: 16px;
        line-height: 19px;
        top: 16px;
        right: 16px;
    }
    .project-text-mini {
        left: 16px;
    }
    .project-parent {
        flex-direction: column;
        margin-top: 16px;
    }
    .project-item-margin {
        margin-right: 0;
        margin-bottom: 16px;
    }
}

@media (max-width: 628px) {
    .contacts-header {
        width: 628px;
    }
    .heading-contacts {
        left: 165px;
        top: 48px;
        font-size: 12px;
    }
    .text1 {
        line-height: 12px;
        left: -36px;
    }
}

@media (max-width: 476px) {
    .contacts-header {
        width: 476px;
    }
    .heading-contacts {
        left: 104px;
        top: 42px;
        font-size: 13px;
    }
    .text1 {
        line-height: 12px;
        left: -110px;
        top: -22px;
        width: 463px;
    }
}

@media (max-width: 376px) {
    .footer-info {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 1203px) {
    .contacts-header {
        width: 1200px;
        flex-direction: column;
    }
}

@media (max-width: 1073px) {
    .contacts-header {
        width: 1071px;
        flex-direction: column;
    }
    .heading-contacts {
        left: 408px;
    }
    .text1 {
        left: 129px;
        width: 764px;
    }
}

@media (max-width: 929px) {
    .contacts-header {
        display: flex;
        width: 927px;
        flex-direction: column;
    }
    .heading-contacts {
        left: 288px;
        top: 33px;
        font-size: 20px;
    }
    .text1 {
        display: inline-flex;
        flex-direction: column;
        top: -9px;
        left: 127px;
        width: 741px;
        font-size: 16px;
        line-height: 21px;
    }
}

@media (max-width: 806px) {
    .contacts-header {
        width: 791px;
        height: 147px;
        left: -1px;
        flex-direction: column;
    }
    .text1 {
        font-size: 11px;
        line-height: 13px;
        left: -74px;
    }
    .header {
        margin-top: 4px;
    }
    .heading-contacts {
        margin-bottom: 16px;
    }
}

@media (max-width: 480px) {
    .heading-contacts {
        display: inline-block;
        left: 40px;
        flex-direction: column;
    }
    .text1 {
        font-size: 11px;
        line-height: 13px;
        left: -128px;
    }
}


/*# sourceMappingURL=style.css.map */